.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

ul li:hover{
  color: #5535f0;
}

.navbar {
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 6rem;
}

.logo{
  width: 100px;
  height: 100px;
}

@media (max-width: 767px) {
  .logo {
    width: 80px;
    height: 80px;
  }
  .navbar {
    margin: auto;
    padding-left: 1.2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .logo {
    width: 50;
    height: 50;
  }
  .navbar {
    margin: auto;
    padding-left: 1.2rem;
  }
}