@media screen and (orientation: landscape) {
  .carousel img {
    height: 100vh;
  }
}

@media (max-width: 767px) {
  .carousel-inner h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  .carousel-inner p {
    font-size: 8px;
  }
}
